<div class="center jumbotron">
  <h1>Awesome Bear Gallery</h1>
  <p>Медвежья Галлерея - тестовый проект на Ruby on Rails.</p>
  <%= link_to "Регистрация", signup_path, class: "btn btn-lg btn-primary" %>
</div>