<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "AwesomeBearGallery", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Войти",   '#' %></li>
        <li><%= link_to "Смотреть",   show_path %></li>
        <li><%= link_to "Загрузить", upload_path %></li>
      </ul>
    </nav>
  </div>
</header>